.card {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 10px auto;
  padding: 20px;
  opacity: 0; /* Initial state invisible */
  animation: fadeIn 1s forwards 0.5s; /* Animation name, duration, fill mode, delay */
}

@keyframes fadeIn {
  to {
    opacity: 1; /* Ending state visible */
  }
}

.profileImageContainer {
  transform: translateX(-100%); /* Start from left outside of view */
  animation: slideInFromLeft 1s forwards 0.5s; /* Animation name, duration, fill mode, delay */
}

@keyframes slideInFromLeft {
  to {
    transform: translateX(0); /* Slide to its original position */
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: left;
  transform: translateX(100%); /* Start from right outside of view */
  animation: slideInFromRight 1s forwards 0.5s; /* Animation name, duration, fill mode, delay */
}

@keyframes slideInFromRight {
  to {
    transform: translateX(0); 
  }
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.bio {
  font-size: 16px;
}

.staffGrid {
  display: flex;
  flex-direction: column;
}

.profileImage {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center; 
  margin-right: 20px;
}
