/* Styles for StaffCard */

.card {
  background: white;
  width: 300px;
  height: 410px; /* Set a fixed height to your card */
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden; /* This will hide overflowing content */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.bio::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: make scrollbar invisible */
}

/* Hide scrollbar for IE, Edge, and Firefox */
.bio {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  text-align: left;
  line-height: 1.5rem;
}

.profileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 600;
  max-height: 44px; /* Two lines of text */
  overflow: hidden; /* This will hide overflowing text for names */
}

.bio {
  font-size: 16px;
  color: #333;
  flex: 1; /* Let the bio occupy remaining space */
  overflow: auto; /* Show scrollbar for overflowing content */
}
  
  /* Styles for StaffGrid */
  
  .staffGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .staffGrid .card {
    flex: 1 0 300px;
    min-width: 0;
    margin: 10px;
    box-sizing: border-box;
  }
  
  @media (max-width: 960px) {
    .staffGrid .card {
      flex: 1 0 100%;
    }
  }
  